<html>
    <head>
    <title></title>
    </head>
    <body>
        <form action="/send-name" method="post">
            Name:<input type="text" name="name">
            <input type="submit" value="Wyślij">
        </form>
    </body>
</html>